@model ADIMS.ViewModels.SearchViewModel
@{
    ViewBag.Title = "Search Farmers";

    ViewBag.Action = "Search";
    ViewBag.Controller = "Farmers";

    Layout = "~/Views/Shared/_AdimsLayout.cshtml";

    var counties = (List<ADIMS.Models.county>)ViewBag.counties;
    var enterprises = (List<string>)ViewBag.crops;

    //Initialize the select list items
    var genders = new List<string>() { "All,all", "Male,male", "Female,female" }.Select((e, i) =>{var o = e.Split(','); return new SelectListItem() { Text = o[0], Value = o[1] }; }).ToList();
    var age_ranges = new List<string>() { "All,all", "Youth (Below 36),0", "Above 36,1"}.Select((e, i) => { var o = e.Split(','); return new SelectListItem() { Text = o[0], Value = o[1] }; }).ToList();
    var scales = new List<string>() { "All,all",  "Large (above 50 Acres),large", "Small (less than 50 Acres),small"}.Select((e, i) => { var o = e.Split(','); return new SelectListItem() { Text = o[0], Value = o[1] }; }).ToList();
    

    var results = (List<ADIMS.Models.farmer>)ViewBag.results;

}

<script>

    function getSubCounties() {
        $("#subcounty").empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetSubCounties","Counties")',
            datatype: 'json',
            data: { id: $("#county").val() },
            success: function (subcounties) {
                $("#subcounty").append('<option value="' + "0" + '">' + "Select Sub County" + '</option>');
                debugger;
                $.each(subcounties, function (i, subcounty) {
                    $("#subcounty").append('<option value="' + subcounty.Value + '">' + subcounty.Text + '</option>');
                    // here we are adding option for States
                });
            },
            error: function (ex) {
                alert('No Sub Counties for the selected counties exist' + ex);
            }
        });
    }

    function getWards() {
        $("#ward").empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetWards", "Counties")',
            datatype: 'json',
            data: { id: $("#subcounty").val() },
            success: function (wards) {
                $("#ward").append('<option value="' + "0" + '">' + "Select Ward" + '</option>');
                debugger;
                $.each(wards, function (i, ward) {
                    $("#ward").append('<option value="' + ward.Value + '">' + ward.Text + '</option>');
                    // here we are adding option for States
                });
            },
            error: function (ex) {
                alert('No Wards for the selected Sub County exist' + ex);
            }
        });
    }

    //function clearFilters() {

    //}


</script>

<div class="ibox-content m-b-sm border-bottom">
   
        @using (Html.BeginForm("Search", "Farmers", FormMethod.Post))
        {
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="product_name">Name</label>
                        @*<input type="text" id="product_name" name="product_name" value="" placeholder="Some Name" class="form-control">*@
                        @Html.TextBoxFor(model => model.name, new { @class = "form-control", @placeholder = "Some Name" })
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label" for="price">ADIMS ID</label>
                        @*<input type="text" id="price" name="price" value="" placeholder="ID" class="form-control">*@
                        @Html.TextBoxFor(model => model.adimsid, new { @class = "form-control", @placeholder = "ADIMS ID" })
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label" for="quantity">ID Number</label>
                        @*<input type="text" id="quantity" name="quantity" value="" placeholder="ID" class="form-control">*@
                        @Html.TextBoxFor(model => model.idnumber, new { @class = "form-control", @placeholder = "ID Number" })
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label" for="quantity">Phone Number</label>
                        @*<input type="text" id="quantity" name="quantity" value="" placeholder="07..." class="form-control">*@
                        @Html.TextBoxFor(model => model.phone_number, new { @class = "form-control", @placeholder = "Phone Number" })
                    </div>
                </div>
                <br />
                <input style="" type="submit" value="Submit" class="btn btn-primary" />
                @*<a href='javascript:;' class="btn btn-primary" onclick='clearFilters();'>Clear Filters</a>*@

            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>County</label><br />
                        <div class="col-md-12" style="padding-left:0px;">
                            @Html.DropDownListFor(model => model.county, new SelectList(counties, "id", "name"), new { @class = "form-control", @onchange = "getSubCounties()" })
                            @Html.ValidationMessageFor(model => model.county, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Sub County</label><br />
                        <div class="col-md-12" style="padding-left:0px;">
                            @Html.DropDownList("subcounty", new SelectList(string.Empty, "id", "name"), new { @class = "form-control",@onchange = "getWards()" })
                            @*@Html.ValidationMessageFor(model => model.county, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Ward</label><br />
                        <div class="col-md-12" style="padding-left:0px;">
                            @Html.DropDownListFor(model => model.ward, new SelectList(string.Empty, "id", "name"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ward, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Enterprise</label><br />
                        <div class="col-md-12" style="padding-left:0px;">
                            @Html.DropDownListFor(model => model.enterprise, new SelectList(enterprises), new { @class = "form-control" })
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Gender</label><br />
                        <div class="col-md-12" style="padding-left:0px;">
                            @Html.DropDownListFor(model => model.gender, new SelectList(genders, "Value", "Text"), new { @class = "form-control" })

                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Age Group</label><br />
                        <div class="col-md-12" style="padding-left:0px;">
                            @Html.DropDownListFor(model => model.age_range, new SelectList(age_ranges, "Value", "Text"), new { @class = "form-control" })

                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Scale</label><br />
                        <div class="col-md-12" style="padding-left:0px;">
                            @Html.DropDownListFor(model => model.scale, new SelectList(scales, "Value", "Text"), new { @class = "form-control" })

                        </div>
                    </div>
                </div>
            </div>
        }


</div>

@* Have another divison for the results *@
<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-content">
                <center>
                    @{
                        if (results != null)
                        {
                            <span><b>@results.Count</b> Search Results</span>
                        }
                    }
                  
                </center>
                <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                    <thead>
                        <tr>
                            <th data-toggle="true">ADIMS ID</th>
                            <th data-hide="phone">Names</th>
                            <th data-hide="all">County</th>
                            <th data-hide="phone">Age</th>
                            <th data-hide="phone,tablet">Gender</th>
                            <th data-hide="phone">County</th>
                            <th data-hide="phone">Subcounty</th>
                            <th data-hide="phone">Ward</th>
                            <th>Enterprises</th>
                            <th class="text-right" data-sort-ignore="true">Action</th>

                        </tr>
                    </thead>
                    <tbody>

                        @if (results != null)
                        {
                            foreach (var farmer in results)
                            {
                                <tr>
                                    <td>
                                        @farmer.adimsid
                                    </td>
                                    <td>
                                        <a href="/farmers/details/@farmer.id">@farmer.name</a>
                                    </td>
                                    <td>@(farmer?.county1?.name ?? "")</td>
                                    <td>
                                        @{var age = ((DateTime.Now.Year - farmer.dob?.Year));}@age
                                    </td>
                                    <td>
                                        @farmer.gender
                                    </td>
                                    <td>@(farmer?.county1?.name ?? "")</td>
                                    <td>@(ADIMS.Services.DataHelper.GetSubCountyName(farmer?.ward1?.subcounty))</td>
                                    <td>@(farmer?.ward1?.name ?? "")</td>
                                    <td>
                                        @{
                                            var crops = farmer.farms.SelectMany(x => x.cropacreages.Select(y => y.crop.name)).ToList();
                                            var distinct = crops.GroupBy(x => x).Select(x => x.First());
                                            string cropsdistinct = string.Join(",", distinct);
                                        }
                                        <span>@cropsdistinct</span>
                                    </td>

                                    <td class="text-right">
                                        <div class="btn-group">
                                            <a href="/farmers/details/@farmer.id" class="btn btn-primary btn-rounded btn-xs"> &nbsp;Details&nbsp;</a>
                                       </div>
                                        <div class="btn-group">
                                            @*<a href="/farmers/delete?id=@farmer.id" class="btn btn-danger btn-rounded btn-xs">&nbsp;Delete&nbsp;</a>*@
                                            <a href="@Url.Action("DeleteFarmerFromSearch", new { id = farmer.id})" class="btn btn-danger btn-rounded btn-xs">Delete</a>
                                        </div>
                                    </td>
                                </tr>
                             }
                         }
                       
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
</div>
