@using ADIMS.Models;

@model ADIMS.ViewModels.DataCapture_CropProduction.AddTopDressingFertilizerViewModel
@{
    ViewBag.Title = "Top Dressing Fertilizer Utilization";
    ViewBag.Action = "Add Top Dressing Fertilizer";
    ViewBag.Controller = "Crop Production";
    var user = ViewBag.userinfo as Tuple<string, county, subcounty>;

    var seasons = (List<season>)ViewBag.seasons;

    Layout = "~/Views/Shared/_AdimsLayout.cshtml";
    string[] months = "January,February,March,April,May,June,July,August,September,October,November,December".Split(',');
}
<div class="ibox ibox-more">

    <div class="ibox-title">
        <h5><i class="fa fa-cubes" style="font-size:18px;"></i> Fertilizer Utilization B</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>
    </div>

    <div class="ibox-content">

        @using (Html.BeginForm("AddTopDressingFertilizer", "CropProduction", FormMethod.Post, new { @class = "" }))

        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="form-group col-md-4">
                    <label>County</label>
                    @Html.HiddenFor(model => model.county)
                    @Html.TextBox("countyid", @user.Item2.name, new { @class = "form-control", @readonly = true })
                </div>
                <div class="form-group col-md-4">
                    <label>Sub-County</label>
                    @Html.HiddenFor(model => model.sub_county)
                    @Html.TextBox("subcountyid", @user.Item2.name, new { @class = "form-control", @readonly = true })
                </div>                 
                <div class="form-group col-md-3">
                    <label>Month</label>
                    <select class="form-control">
                        <option value="null">Select an item</option>
                        @{
                            for (int i = 0; i < months.Length; i++)
                            {
                                <option value="@i">@months[i]</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Season</label><br />
                        <div class="col-md-12" style="padding-left:0px;">
                            @Html.DropDownListFor(model => model.season, new SelectList(seasons, "id", "name"), new { @class = "form-control" })

                        </div>
                    </div>
                </div>

            </div>
            <br />
            <div class="row">
                <div class="form-group col-md-4">
                    <label>Core Crop</label><br />
                    <div>
                        <select class="form-control">
                            <option>Maize</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label>Hectares Planted</label><br />
                    <div>
                        @Html.TextBoxFor(model => model.hectares_planted, new { @class = "form-control", @placeholder = "e.g 45" })
                    </div>
                </div>

            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label><i class="fa fa-eyedropper"></i> Top Dressing Fertilizer 1</label>
                        <select class="form-control">
                            <option>DAP</option>
                        </select>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="form-group col-md-4">
                    <label>Esimated Ha applied fertilizer</label><br />
                    <div>
                        @Html.TextBoxFor(model => model.estimated_ha_applied_fertilizer_1, new { @class = "form-control", @placeholder = "e.g 120" })


                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label>Fertilizer Use Rates (kg/Ha)</label><br />
                    <div>
                        @Html.TextBoxFor(model => model.fertilizer_use_rate_1, new { @class = "form-control", @placeholder = "e.g 45" })


                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label>Total fertilizer used (in bags)</label><br />
                    <div>
                        @Html.TextBoxFor(model => model.total_fertilizer_used_1, new { @class = "form-control", @placeholder = "e.g 45" })


                    </div>
                </div>
            </div>
            <br />
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label><i class="fa fa-eyedropper"></i> Top Dressing Fertilizer 2</label>
                            <select class="form-control">
                                <option>DAP</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="form-group col-md-4">
                        <label>Esimated Ha applied fertilizer</label><br />
                        <div>
                            @Html.TextBoxFor(model => model.estimated_ha_applied_fertilizer_2, new { @class = "form-control", @placeholder = "e.g 120" })


                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Fertilizer Use Rates (kg/Ha)</label><br />
                        <div>
                            @Html.TextBoxFor(model => model.fertilizer_use_rate_2, new { @class = "form-control", @placeholder = "e.g 45" })


                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Total fertilizer used (in bags)</label><br />
                        <div>
                            @Html.TextBoxFor(model => model.total_fertilizer_used_2, new { @class = "form-control", @placeholder = "e.g 45" })


                        </div>
                    </div>
                </div>

                <br />
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </div>
                <br /><br />
           }
    </div>
</div>
