@using ADIMS.Models;
@model ADIMS.ViewModels.PreliminaryCropCuttingViewModel

@{
    ViewBag.Title = "Preliminary Crop Cutting";

    ViewBag.Action = "Preliminary";
    ViewBag.Controller = "Crop Insurance";

    Layout = "~/Views/Shared/_AdimsLayout.cshtml";

    county _county = (county)ViewBag.county;
    subcounty _subCounty = (subcounty)ViewBag.subcounty;
    ward _ward = (ward)ViewBag.ward;
    farmer _farmer = (farmer)ViewBag.farmer;
    farm _farm = (farm)ViewBag.farm;
    var crops = (List<crop>)ViewBag.crops;
    var varieties = (List<cropvariety>)ViewBag.varieties;

    int queue = (int)ViewBag.queue;
    int cropacreage = (int)ViewBag.cropacreage;

    //Get the Fertilisers
    var topDressingFerts = (List<fertilizer>)ViewBag.topDressingFerts;
    var plantingFerts = (List<fertilizer>)ViewBag.plantingFerts;

    //List of strings to populate the dropdown lists
    var relations = new List<string>() { "The Farmer", "Spouse", "Farm Worker", "Son / Daughter","Any Other" };
    var variety = new List<string>() {"Hybrid", "Improved", "Local" };
    var plantingseasons = new List<string>() { "L.R", "S.R"};
    var plantingmode = new List<string>() { "Pure Stand", "Mixed"};
    var cropstages = new List<string>() {"Flowering","Early Maturity","Mature" };
    var cropcondition = new List<string>() {"Very good","Average","Poor" };
    var cropstatus = new List<string>() { "Normal","Not normal"};
    var manureuse = new List<string>() { "Yes","No"};
    var sampling = new List<string>() { "Yes", "No" };

}
<script>

    function getVarieties()
    {
        $("#variety").empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetVarieties", "Crops")',
            datatype: 'json',
            data: { id: $("#crop").val() },
            success: function (varieties) {
                $("#variety").append('<option value="' + "0" + '">' + "Select Variety" + '</option>');
                debugger;
                $.each(varieties, function (i, variety) {
                    $("#variety").append('<option value="' + variety.Value + '">' + variety.Text + '</option>');
                    // here we are adding option for States
                });
            },
            error: function (ex) {
                alert('No varieties for the crop exist' + ex);
            }
        });
    }

</script>


<link href="~/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
<link href="~/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="~/css/plugins/steps/jquery.steps.css" rel="stylesheet">

<script src="~/js/jquery-2.1.1.js"></script>
<script src="~/js/bootstrap.js"></script>
<script src="~/js/plugins/datapicker/bootstrap-datepicker.js"></script>
<!-- Steps -->
<script src="~/js/plugins/staps/jquery.steps.min.js"></script>
<!-- Jquery Validate -->
<script src="~/js/plugins/validate/jquery.validate.min.js"></script>

<script>
    function getSubCounties() {
        $("#subcounty").empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetSubCounties","Counties")',
            datatype: 'json',
            data: { id: $("#county").val() },
            success: function (subcounties) {
                $("#subcounty").append('<option value="' + "0" + '">' + "Select Sub County" + '</option>');
                debugger;
                $.each(subcounties, function (i, subcounty) {
                    $("#subcounty").append('<option value="' + subcounty.Value + '">' + subcounty.Text + '</option>');
                    // here we are adding option for States
                });
            },
            error: function (ex) {
                alert('No Sub Counties for the selected counties exist' + ex);
            }
        });
    }

    function getWards() {
        $("#ward").empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetWards", "Counties")',
            datatype: 'json',
            data: { id: $("#subcounty").val() },
            success: function (wards) {
                $("#ward").append('<option value="' + "0" + '">' + "Select Ward" + '</option>');
                debugger;
                $.each(wards, function (i, ward) {
                    $("#ward").append('<option value="' + ward.Value + '">' + ward.Text + '</option>');
                    // here we are adding option for States
                });
            },
            error: function (ex) {
                alert('No Wards for the selected Sub County exist' + ex);
            }
        });
    }
    
</script>

<script>
        $(document).ready(function(){

            $("#wizard").steps();
            $("#form").steps({
                bodyTag: "fieldset",
                onStepChanging: function (event, currentIndex, newIndex)
                {
                    // Always allow going backward even if the current step contains invalid fields!
                    if (currentIndex > newIndex)
                    {
                        return true;
                    }

                    // Forbid suppressing "Warning" step if the user is to young
                    if (newIndex === 3 && Number($("#age").val()) < 18)
                    {
                        return false;
                    }

                    var form = $(this);

                    // Clean up if user went backward before
                    if (currentIndex < newIndex)
                    {

                        // To remove error styles
                        $(".body:eq(" + newIndex + ") label.error", form).remove();
                        $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                    }

                    // Disable validation on fields that are disabled or hidden.
                    form.validate().settings.ignore = ":disabled,:hidden";

                    // Start validation; Prevent going forward if false
                    return form.valid();
                },
                onStepChanged: function (event, currentIndex, priorIndex)
                {
                    //$("#progress").width( (currentIndex) / 4 * 100 % + "%");
                    // Suppress (skip) "Warning" step if the user is old enough.
                    if (currentIndex === 2 && Number($("#age").val()) >= 18)
                    {
                        $(this).steps("next");
                    }

                    // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                    if (currentIndex === 2 && priorIndex === 3)
                    {
                        $(this).steps("previous");
                    }
                },
                onFinishing: function (event, currentIndex)
                {
                    var form = $(this);

                    // Disable validation on fields that are disabled.
                    // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                    form.validate().settings.ignore = ":disabled";

                    // Start validation; Prevent form submission if false
                    return form.valid();
                },
                onFinished: function (event, currentIndex)
                {
                    var form = $(this);

                    // Submit form input
                    form.submit();
                }
            }).validate({
                        errorPlacement: function (error, element)
                        {
                            element.before(error);
                        },
                        rules: {
                            confirm: {
                                equalTo: "#password"
                            }
                        }
            });

       });
</script>


<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5><img height="30" width="30" src="~/icons/user_icon.png" /> &nbsp; &nbsp;  Preliminary Crop Cutting Exercise</h5>
                <div class="ibox-tools">

                    <input type="submit" formaction="/cropinsurance/savepreliminary" name="save" value="Save Progress" class="btn btn-primary btn-rounded" form="form" />
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>

                </div>
            </div>
            <div class="ibox-content">

                @*<div class="progress progress-striped active">
                        <div id="progress" style="width: 25%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="75" role="progressbar" class="progress-bar progress-bar-success">
                            <span class="sr-only">25% Complete (success)</span>
                        </div>
                    </div>*@

                @*<form id="form" action="#" class="wizard-big">*@
                @using (Html.BeginForm("Preliminary", "CropInsurance", new { ward = _ward.id, queue = queue, cropacreage = cropacreage }, FormMethod.Post, new { @class = "wizard-big", @id = "form" }))
                {
                    @Html.HiddenFor(model => model.progresskey)
                    @Html.HiddenFor(model => model.queue)
                    @Html.HiddenFor(model => model.cropacerage)
                    <h1>Location (1 &amp; 2)</h1>
                    <fieldset>

                        <div class="row col-lg-12">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>County Name</label><br />
                                    <div class="col-md-12" style="padding-left:0px;">
                                       @Html.TextBox("countyname",_county.name, new { @class = "form-control"})
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>SubCounty Name</label><br />
                                    <div class="col-md-12" style="padding-left:0px;">
                                      @Html.TextBox("subcountyname", _subCounty.name, new { @class = "form-control" }) 
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Ward Name</label><br />
                                    <div class="col-md-12" style="padding-left:0px;">
                                        @Html.TextBox("wardname", _ward.name, new { @class = "form-control" })
                                        
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="row col-lg-12" style="margin-top:15px;">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Enumeration Area Code</label><br />
                                    <div class="col-md-12" style="padding-left:0px;">
                                        @Html.TextBoxFor(model => model.enumeration_area_code, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Name of Village</label><br />
                                    <div class="col-md-12" style="padding-left:0px;">
                                        @Html.TextBoxFor(model => model.village_name, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>

                    </fieldset>

                    <h1>Farmer</h1>
                    <fieldset>
                        <div class="row col-lg-12">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Farmer Name</label><br />
                                    <div class="col-md-10" style="padding-left:0px;">
                                       @_farmer.firstname &nbsp; @_farmer.middlename &nbsp; @_farmer.lastname
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row col-lg-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Respondent Name</label><br />
                                    <div class="col-md-10" style="padding-left:0px;">
                                        @Html.TextBoxFor(model => model.respondent_name, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Tel No Respondent</label><br />
                                    <div class="col-md-10" style="padding-left:0px;">
                                       @Html.TextBoxFor(model => model.respondent_telephone, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Respondent Relation</label><br />
                                    <div class="col-md-10" style="padding-left:0px;">
                                        @Html.DropDownListFor(model => model.respondent_relation, new SelectList(relations), new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>

                    </fieldset>


                    <h1>Crops </h1>
                    <fieldset>
                        <div class="row col-lg-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Name of Crop</label><br />
                                    <div class="col-md-12" style="padding-left:0px;">
                                       @Html.DropDownListFor(model => model.crop, new SelectList(crops,"id","name"), new { @class = "form-control", @onchange = "getVarieties()" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Variety</label><br />
                                    <div class="col-md-12" style="padding-left:0px;">
                                       @Html.DropDownListFor(model => model.variety, new SelectList(string.Empty,"id","name"), "Select an Item", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Planting Season</label><br />
                                    <div class="col-md-12" style="padding-left:0px;">
                                        @Html.DropDownListFor(model => model.planting_season, new SelectList(plantingseasons), new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>

                       
                        <div class="row col-lg-12">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Date of Planting</label><br />
                                    <div class="col-md-12" style="padding-left:0px;">
                                        @Html.TextBoxFor(model => model.agreed_date_cutting, new { @class = "form-control",@type="date" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Manure Use</label><br />
                                    <div class="col-md-12" style="padding-left:0px;">
                                        @Html.DropDownListFor(model => model.manure_use, new SelectList(manureuse), new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Inorganic Fert Use</label><br/>
                                    <div class="col-md-12" style="padding-left:0px;">
                                        @Html.DropDownListFor(model => model.inorganic_fert_use, new List<SelectListItem>()
                                        {
                                            new SelectListItem(){Text = "Yes", Value = "Yes"},
                                            new SelectListItem(){Text = "No", Value = "No"},
                                        }, new { @class="form-control"})
                                    </div>
                                </div>
                            </div>

                        </div>

                            <div class="row col-lg-12">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Planting Fertilizer</label><br />
                                        <div class="col-md-12" style="padding-left:0px;">
                                            <div class="col-md-6">
                                                @Html.DropDownListFor(model => model.fertilizer_type, new SelectList(plantingFerts, "name", "name"), new { @class = "form-control" })
                                            </div>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(model => model.fertilizer_quantity, new { @class = "form-control", @placeholder = "Quantity (Kgs)" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Top Dressing Fertilizer</label><br />
                                        <div class="col-md-12" style="padding-left:0px;">
                                            <div class="col-md-6">
                                                @Html.DropDownListFor(model => model.top_fertilizer_type, new SelectList(topDressingFerts, "name", "name"), new { @class = "form-control" })
                                            </div>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(model => model.top_fertilizer_quantity, new { @class = "form-control", @placeholder = "Quantity (Kgs)" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                           </div>
                        
                        <div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Mode of Planting</label><br />
                                    <div class="col-md-12" style="padding-left:0px;">
                                        @Html.DropDownListFor(model => model.mode_of_planting, new SelectList(plantingmode), new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>

                    </fieldset>

                    <h1>Harvesting A</h1>
                    <fieldset>
                        <div class="row col-lg-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Maize Planted Holding Type</label><br />
                                    <div class="col-md-12" style="padding-left:0px;">
                                        @Html.DropDownListFor(x => x.planted_holding_type, new List<SelectListItem>()
                                        {
                                            new SelectListItem(){ Text="Select holding type", Value="0" },
                                            new SelectListItem(){ Text="Parcel", Value="Parcel" },
                                            new SelectListItem(){ Text="Piece", Value="Piece" },
                                            new SelectListItem(){ Text="Piece Complete", Value="Piece Complete" },
                                            new SelectListItem(){ Text="Plot", Value="Plot" }
                                        }, new { @class="form-control"})
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Planted holding Area (Hectares)</label><br />
                                    <div class="col-md-12" style="padding-left:0px;">
                                        @Html.TextBoxFor(model => model.planted_holding_area, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                       </div>
                        <div class="row col-lg-12">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Sampling of Plot</label><br />
                                    <div class="col-md-12" style="padding-left:0px;">
                                        @Html.DropDownListFor(model => model.sampling_plot_or_parcel, new SelectList(sampling), new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Selected Plot Geo-Ref No</label><br />
                                    <div class="col-md-12" style="padding-left:0px;">
                                        @Html.TextBoxFor(model => model.parcel_geo_ref_no, new { @class = "form-control", @type = "number" })
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row col-lg-12">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Total Count of Maize Plants</label><br />
                                    <div class="col-md-12" style="padding-left:0px;">
                                        @Html.TextBoxFor(model => model.total_maize_plants, new { @class = "form-control", @type = "number" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Total Count of Maize Cobs</label><br />
                                    <div class="col-md-12" style="padding-left:0px;">
                                        @Html.TextBoxFor(model => model.total_cobs_count, new { @class = "form-control", @type = "number" })
                                    </div>
                                </div>
                            </div>
                        </div>

                    </fieldset>

                    <h1>Harvesting B</h1>
                    <fieldset>
                        <div class="row col-lg-12">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Crop Stages</label><br />
                                    <div class="col-md-12" style="padding-left:0px;">
                                        @Html.DropDownListFor(model => model.crop_stage, new SelectList(cropstages),"Select crop stage", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Overall Crop Condition</label><br />
                                    <div class="col-md-12" style="padding-left:0px;">
                                        @Html.DropDownListFor(model => model.overall_crop_condition, new SelectList(cropcondition), new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Crop status of SS</label><br />
                                    <div class="col-md-12" style="padding-left:0px;">
                                        @Html.DropDownListFor(model => model.crop_status, new SelectList(cropstatus), new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Total Count of Maize Plants in SS</label><br />
                                    <div class="col-md-12" style="padding-left:0px;">
                                        @Html.TextBoxFor(model => model.total_maize_plants, new { @class = "form-control", @type = "number" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Total Count of Cobs in SS</label><br />
                                    <div class="col-md-12" style="padding-left:0px;">
                                        @Html.TextBoxFor(model => model.total_cobs_count, new { @class = "form-control", @type = "number" })
                                    </div>
                                </div>
                            </div>

                            @*<div class="col-md-6">
                                <div class="form-group">
                                    <label>Photo of SS Crop Taken</label><br />
                                    <div class="col-md-10" style="padding-left:0px;">
                                        @Html.TextBoxFor(model => model.photo_of_crop, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>*@

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Agreed date of Actual Crop Cutting</label><br />
                                    <div class="col-md-12" style="padding-left:0px;">
                                        @Html.TextBoxFor(model => model.agreed_date_cutting, new { @class = "form-control",@type="date" })
                                    </div>
                                </div>
                            </div>

                        </div>
                    </fieldset>
                }
                @*</form>*@
            </div>
        </div>
    </div>
</div>
